[submodule "ErgoUIKit"]
	path = Submodules/ErgoUIKit
	url = https://github.com/Fleuronic/ErgoUIKit
[submodule "ErgoDeclarativeUIKit"]
	path = Submodules/ErgoDeclarativeUIKit
	url = https://github.com/Fleuronic/ErgoDeclarativeUIKit
[submodule "ErgoAppKit"]
	path = Submodules/ErgoAppKit
	url = https://github.com/Fleuronic/ErgoAppKit
